.u-section-1 .u-image-1 {
  min-height: 690px;
  background-image: url("images/chickensquad-work-12.jpg");
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 569px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 436px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 327px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 206px;
  }
}