.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/55e6d4474d54aa14f6da8c7dda793678153bdee757596c48732f72d29548c35ab0_1280.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 1056px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 242px 364px 0 365px;
}

.u-section-1 .u-text-2 {
  margin: 30px 356px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px 513px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 426px;
    margin-top: 312px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 330px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 315px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 167px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 205px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/f29b8db8542efb591065e22a5c85ece29f0365e41e70545c14b406b09b57e81a00cef779dc1e4ac0cc7eae160d967472cca5aedd5970d0775c0f00_1280.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 896px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 214px 283px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 57px 228px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px 513px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-2 .u-text-1 {
    width: 574px;
    margin-top: 212px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 684px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
    margin-left: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 258px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-left: 18px;
    margin-right: 18px;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 152px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 99px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 25px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 18px;
  }
}