.u-section-1 .u-image-1 {
  min-height: 800px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Chicken-Squad-ESport-Logo-Graphics-4782649-1.jpg");
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 242px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -373px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 723px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -478px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -456px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 677px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -266px;
  }
}.u-section-2 .u-image-1 {
  min-height: 800px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/55e9d1404850b108f5d084609629317e113fdce15b4c704f75267ddc9044cc50_1280.png");
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 242px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: 675px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -373px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: -383px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 677px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -200px;
  }
}.u-section-3 .u-image-1 {
  min-height: 800px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/DesktopScreenshot2021.01.09-17.39.12.142.png");
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 242px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 281px 1090px 0 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    min-height: 675px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -373px;
  }

  .u-section-3 .u-btn-1 {
    align-self: center;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 883px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 723px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 670px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 790px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -456px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 490px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 677px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -234px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 290px;
  }
}.u-section-4 .u-image-1 {
  min-height: 832px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/AI-Services-1.png");
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 242px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 281px 1090px 0 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    min-height: 699px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -397px;
  }

  .u-section-4 .u-btn-1 {
    align-self: center;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 883px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 731px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -429px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 670px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 790px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -407px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 490px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 677px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -282px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 290px;
  }
}